
.skills_icon_container_desktop {
    display: flex;
    flex-direction: column;
}

.skills_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.skills_icons img {
    width: 20vw;
    height: 15vh;
}


#project_icon_mobile {
    margin-top: -15px;
    margin-bottom: 0;
}

.skills_icons_mobile {
    margin-bottom: -38px;
}

/*================================Media Queries============================*/

@media (min-width: 768px) {
    .skills_image_desktop {
        background: url('../img/mean.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 615px;
        height: 503px;
        margin-bottom: 10px;
    }
}
