body {
    background: url("../img/forest.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.home_title_container_mobile {
    position: absolute;
    width: 100%;
    top: 77vh;
    color: white;
    text-align: center;
    font-size: 7vw;
    font-family: Yantramanav;
    line-height: 1.0;
    text-shadow: 1px 1px black;
}

.home_title_container_desktop {
    display: none;
}

/*==================MEDIA QUERIES=========================================*/

@media (min-width: 768px) {
    .home_title_container_mobile {
        display: none;
    }
    .home_title_container_desktop {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        width: 100%;
        color: white;
        text-align: center;
        font-family: Yantramanav;
        font-size: 50px;
        text-shadow: 1px 1px black;
    }
    .home_title_container_desktop p {
        margin: 0;
        background: black;
        opacity: .75;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}
