.nav_container {
    background: black;
    margin: auto;
    text-align: right;
    color: white;
}

.nav_mobile {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    opacity: 1;
    transition: opacity .75s ease;
}

.nav_mobile.ng-hide {
    opacity: 0;
}

.nav_mobile_x {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    opacity: 1;
    transition: opacity .75s ease;
}

.nav_mobile_x.ng-hide {
    opacity: 0;
}

/*This icon exists to keep the transition elements from stacking on top of each other*/
.nav_mobile_dummy_icon {
    padding: 10px;
    color: black;
}

/*initial mobile state*/
.nav_desktop {
    display: none;
}

/*Mobile navbar dropdown*/
.nav_dropdown_mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    overflow: auto;
    font-size: 40px;
}
.nav_dropdown_mobile a {
    text-decoration: none;
    color: black;
    /*border-bottom: 1px solid;*/
}

/*===========================Media Queries====================================*/

@media (min-width: 768px) {
    .nav_mobile {
        display: none;
    }
    .nav_mobile_x {
        display: none;
    }
    .nav_mobile_dummy_icon {
        display: none;
    }
    .nav_dropdown_mobile {
        display: none;
    }
    .nav_desktop {
        display: block;
        font-size: 25px;
        margin: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
    }
    .nav_desktop span {
        margin: 10px;

    }
}
